# Объектные файлы
*.o

# Исполняемый файл
analyst

# Файлы резервных копий редакторов
*~
*.swo
*.swp

# Директории сборок (если будете использовать, например, build/)
build/

# Временные и текстовые файлы
.txt